* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f0f0;
    background-size: cover;
    background-position: center;
}

header {
    padding: 20px 50px; /* Adjusted padding */
    background: #268ada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    
    border-radius: 10px;

}


.navigation a {
    position: relative;
    font-size: 1.1em; /* Desktop font size */
    color: #fff;

    text-decoration: none;
    font-weight: 500;
    margin-left: 20px; /* Space between links */
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em; /* Desktop font size */
    color: #fff;
    font-weight: 500;
    margin-left: 20px; /* Space for button */
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}



.wrapper_center {
    display: none;
    justify-content: center;
    align-items: center;
    /* padding: 20px 20px; Adjusted padding */
}

.wrapper {
    position: relative;
    width: max-content;
    height: max-content;
    margin-right:20px;
    /* padding: 10px; */
    overflow: hidden;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper .form-box {
    padding: 20px 25px;
    margin: 22px 0px;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
   
    position: relative; /* Ensure it stays within normal flow */
    
    margin: 30px 0;
    padding: 1px;
    background: #fff;
    border: 1px solid #162938;
    border-radius: 10px;

}

.input-box .icon {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #162938;
}

.input-box input {
    
    padding: 10px;
    padding-left: 40px;
    font-size: 1.1em;
    color: #162938;
    border: 2px solid #fff;
    outline: none;
    border-radius: 10px;
    background: transparent;
}

.input-box label {
    position: absolute;
    top: 13px;
    left: 30px;
    
    
    font-size: 1.1em;
    color: #162938;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -20px;
    left: 0;
    color: #162938;
    font-size: 1em;
}




.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.remember-forgot label {
    font-size: 1.1em;
    color: #162938;
}

.btn {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    transition: .5s;
}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.login-register p {
    font-size: 1.1em;
    color: #162938;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {

    header {
        padding: 20px 30px; /* Adjusted padding for mobile */
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align to the start */
    }

    .navigation a {
        margin-left: 0; /* Remove margin for mobile */
        margin-bottom: 15px; /* Add space between links */
        font-size: 1em; /* Adjust font size for mobile */
    }

    .navigation .btnLogin-popup {
        width: 100%; /* Full width button on mobile */
        height: 40px; /* Adjust button height for mobile */
        font-size: 1em; /* Adjust font size for mobile */
        margin-left: 0; /* Remove left margin */
    }

    .wrapper_center {
        flex-direction: column;
    }

    .wrapper {
        width: 100%; /* Make wrappers full-width on mobile */
        margin: 10px;
        padding: 15px;
    }

    .wrapper .form-box {
        padding: 10px;
    }

    .input-box {
        margin: 15px 0; /* Adjust spacing */
    }

    .icon-close {
        width: 35px;
        height: 35px;
        font-size: 1.5em;
    }

    .form-box h2 {
        font-size: 1.5em; /* Make the header smaller on mobile */
    }

    .navigation .btnLogin-popup {
        width: 100px;
        height: 40px;
        font-size: 1em;
    }

    .btn {
        height: 45px;
    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}

.package {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #162938;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.package img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border-radius: 50%;
}

.package h2 {
    font-size: 1.1em;
    color: #162938;
    text-align: center;
}



.package p {
    font-size: 1.1em;
    color: #162938;
    text-align: center;
}

.package .price {
    font-size: 2em;
    color: #162938;
    text-align: center;
    margin: 20px 0;
}

.package button {
    width: 150px;
    height: 50px;
    margin: 20px 0;
    padding: 10px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    transition: .5s;
}

.package button:hover {
    background: #1a2f45;
}

.container1 {
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}
.stat {
    text-align: center;
}
.stat img {
    width: 50px;
    height: 50px;
}
.stat .value {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}
.stat .description {
    font-size: 0.9em;
    color: #555;
}


@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        text-align: center;
    }
    .stat {
        text-align: center;
        margin-bottom: 20px;
    }
    .stat img {
        width: 100px;
        height: 100px;
    }
}







.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 75px;
    background-color: #0288d1;
    flex-wrap: wrap;
}
.footer .left-section, .footer .center-section, .footer .right-section {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}
.footer .left-section img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.footer .left-section p {
    margin-top: 10px;
    font-size: 18px;
}
.footer .center-section img {
    width:150px;
    margin-bottom: 30px;
}
.footer .right-section h3 {
    margin-bottom: 10px;
    font-size: 20px;
}
.footer .right-section ul {
    list-style: none;
    padding: 0;
}
.footer .right-section ul li {
    margin: 5px 0;
}

.footer .social-icons{
    margin-left: 110 px;
}
.footer .social-icons i {
    font-size: 24px;
    margin: 0 10px;
}

.footer .payment-icons{
    margin-right: 110px;
    display: flex;  /* Add display: flex to allow for better control of alignment */
    justify-content: center;
    align-items: center;
}
.footer .payment-icons img {
    width: 50px;
    margin: 0 10px;
}
.footer .blue-line {
    width: 100%;
    height: 5px;
    background-color: #0000ff;
    margin: 20px 0;
}
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer .left-section, .footer .center-section, .footer .right-section {
        margin: 10px 0;
    }
}
